In [1]:
import sqlite3
import pandas as pd
db_file = "Fund.db"
tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'FB', 'TSLA', 'NVDA', 'PYPL', 'ADBE', 'INTC']#tickers contenus dans MAIN_DATA_FRAME

start_date = "02/01/2023"#toute la periode start date (pour tout telecharger dun coup)
end_date = "31/12/2023"#pareil

## 1. Creation et peuplement de la base

In [2]:
from base_builder import DatabaseBuilder

In [3]:
db_manager = DatabaseBuilder(db_file)
db_manager.create_tables()
db_manager.insert_clients_data(3)
db_manager.insert_managers_data(3)

Tables created successfully.
Erreur SQLite : table Clients has no column named AMOUNT_INVESTED
Tuple créé avec 7 éléments: ('Lisa', 'Hill', '1990-10-13', 'jennifer57@example.com', '001-530-361-4872x594', 1, 95523335.73)
Tuple créé avec 7 éléments: ('Kristin', 'Schmitt', '1970-07-06', 'moralesjohn@example.com', '2484457289', 20, 69384198.93)
Tuple créé avec 7 éléments: ('Kimberly', 'Torres', '1983-11-04', 'lisa27@example.com', '(838)590-5807', 7, 9016035.2)
3 managers insérés avec succès dans la table 'Managers'.

In [56]:
from faker import Faker
fake = Faker()
import random

In [93]:
BIRTH_DATE_OBJ = fake.date_of_birth(minimum_age=18, maximum_age=65)
BIRTH_DATE = BIRTH_DATE_OBJ.isoformat()              
    # Calcul de l'âge à la date de référence 
reference_date = date(2024, 12, 31)
age_at_reference = (reference_date - BIRTH_DATE_OBJ).days // 365
           # Séniorité possible = âge - 18 (car on suppose début de carrière à 18 ans)
max_seniority = max(age_at_reference - 18, 0)
SENIORITY = int(random.randint(0, max_seniority))
SENIORITY

7

In [61]:
managers_data = []
FIRST_NAME = fake.first_name()
LAST_NAME = fake.last_name()
EMAIL = fake.email()
PHONE = fake.phone_number()
BIRTH_DATE_OBJ = fake.date_of_birth(minimum_age=18, maximum_age=65)
BIRTH_DATE = BIRTH_DATE_OBJ.strftime("%d/%m/%Y")
 # Calcul de l'âge à la date de référence (par exemple fin 2024)
reference_date = date(2024, 12, 31)
age_at_reference = (reference_date - BIRTH_DATE_OBJ).days // 365
      # Séniorité possible = âge - 18 (car on suppose début de carrière à 18 ans)
max_seniority = max(age_at_reference - 18, 0)
SENIORITY = random.randint(0, max_seniority)
ASSET_UNDER_MANAGEMENT = 0
manager_tuple = (FIRST_NAME, LAST_NAME, BIRTH_DATE, EMAIL, PHONE, SENIORITY, ASSET_UNDER_MANAGEMENT)
if len(manager_tuple) != 7:
    print("❌ Erreur : manager_tuple incomplet :", manager_tuple)
else:
    managers_data.append(manager_tuple)

## 2. Collecte et traitement des datas

In [6]:
from data_collector import GetData

In [7]:
gdata = GetData(tickers, start_date, end_date)
gdata.main_data_frame()#on cree le dataframe avec TOUS les actifs TOUTE la periode
#il manquerait le traitement des datas

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['FB']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

     IMPORT_DATE       PRICE TICKER      SECTOR
0     2023-01-03  123.632515   AAPL  Technology
1     2023-01-04  124.907700   AAPL  Technology
2     2023-01-05  123.583092   AAPL  Technology
3     2023-01-06  128.130234   AAPL  Technology
4     2023-01-09  128.654160   AAPL  Technology
...          ...         ...    ...         ...
2245  2023-12-22   47.365639   INTC  Technology
2246  2023-12-26   49.832600   INTC  Technology
2247  2023-12-27   50.089161   INTC  Technology
2248  2023-12-28   49.724056   INTC  Technology
2249  2023-12-29   49.585903   INTC  Technology

[2250 rows x 4 columns]

In [8]:
from base_update import BaseUpdate 
sub_start_date = "02/01/2023"#chaque semaine, les strat lancent la fct et definissent les sub périodes
#de cette maniere, products ne contient que la data jusqu'à la date t (no forward looking sur nos strats)
sub_end_date = "31/01/2023"

In [9]:
B_udt = BaseUpdate(tickers, sub_start_date, sub_end_date)
B_udt.update_products(db_file)#on met a jour products jusqu'à la data t

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['FB']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Successfully inserted 171 new records into Products table for the period 02/01/2023 to 31/01/2023