In [1]:
pip install -r "requirement.txt"

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (from -r requirement.txt (line 1)) (2.2.3)
Collecting yfinance (from -r requirement.txt (line 2))
  Downloading yfinance-0.2.55-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: faker in /home/codespace/.python/current/lib/python3.12/site-packages (from -r requirement.txt (line 3)) (37.0.2)
Requirement already satisfied: scipy in /home/codespace/.local/lib/python3.12/site-packages (from -r requirement.txt (line 4)) (1.14.1)
Collecting schedule (from -r requirement.txt (line 5))
  Downloading schedule-1.2.2-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->-r requirement.txt (line 1)) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->-r requirement.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->-r requirement.txt (line 1)) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->-r requirement.txt (line 1)) (2024.2)
Requirement already satisfied: requests>=2.31 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance->-r requirement.txt (line 2)) (2.32.3)
Collecting multitasking>=0.0.7 (from yfinance->-r requirement.txt (line 2))
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: platformdirs>=2.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance->-r requirement.txt (line 2)) (4.3.6)
Collecting frozendict>=2.3.4 (from yfinance->-r requirement.txt (line 2))
  Downloading frozendict-2.4.6-py312-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance->-r requirement.txt (line 2))
  Downloading peewee-3.17.9.tar.gz (3.0 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 3.0/3.0 MB 29.3 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance->-r requirement.txt (line 2)) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /home/codespace/.local/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance->-r requirement.txt (line 2)) (2.6)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->-r requirement.txt (line 1)) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.31->yfinance->-r requirement.txt (line 2)) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.31->yfinance->-r requirement.txt (line 2)) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.31->yfinance->-r requirement.txt (line 2)) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.31->yfinance->-r requirement.txt (line 2)) (2024.8.30)
Downloading yfinance-0.2.55-py2.py3-none-any.whl (109 kB)
Downloading schedule-1.2.2-py3-none-any.whl (12 kB)
Downloading frozendict-2.4.6-py312-none-any.whl (16 kB)
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml) ... done
  Created wheel for peewee: filename=peewee-3.17.9-cp312-cp312-linux_x86_64.whl size=1029265 sha256=ff3a4f1246e7c794f1909d35bd92c5dbc1058a93891f825e877aaced6cb57cd8
  Stored in directory: /home/codespace/.cache/pip/wheels/43/ef/2d/2c51d496bf084945ffdf838b4cc8767b8ba1cc20eb41588831
Successfully built peewee
Installing collected packages: peewee, multitasking, schedule, frozendict, yfinance
Successfully installed frozendict-2.4.6 multitasking-0.0.11 peewee-3.17.9 schedule-1.2.2 yfinance-0.2.55

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import sqlite3
import pandas as pd
db_file = "Fund.db"
tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'FB', 'TSLA', 'NVDA', 'PYPL', 'ADBE', 'INTC']#tickers contenus dans MAIN_DATA_FRAME

start_date = "02/01/2023"#toute la periode start date (pour tout telecharger dun coup)
end_date = "31/12/2024"#pareil

## 1. Creation et peuplement de la base

In [3]:
from base_builder import DatabaseBuilder

In [4]:
db_manager = DatabaseBuilder(db_file)
db_manager.create_tables()
db_manager.insert_clients_data(3)
db_manager.insert_managers_data(3)

Tables created successfully.
3 clients ins√©r√©s avec succ√®s dans la table 'Clients'.
3 managers ins√©r√©s avec succ√®s dans la table 'Managers'.

## 2. Collecte et traitement des datas

In [5]:
from data_collector import GetData

In [6]:
gdata = GetData(tickers, start_date, end_date)
gdata.main_data_frame()#on cree le dataframe avec TOUS les actifs TOUTE la periode
#il manquerait le traitement des datas

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['FB']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

     IMPORT_DATE       PRICE TICKER      SECTOR
0     2023-01-03  123.632523   AAPL  Technology
1     2023-01-04  124.907707   AAPL  Technology
2     2023-01-05  123.583092   AAPL  Technology
3     2023-01-06  128.130234   AAPL  Technology
4     2023-01-09  128.654144   AAPL  Technology
...          ...         ...    ...         ...
4504  2024-12-23   20.200001   INTC  Technology
4505  2024-12-24   20.400000   INTC  Technology
4506  2024-12-26   20.440001   INTC  Technology
4507  2024-12-27   20.299999   INTC  Technology
4508  2024-12-30   19.820000   INTC  Technology

[4509 rows x 4 columns]

In [7]:
from base_update import BaseUpdate 
sub_start_date = "01/01/2023"#chaque semaine, les strat lancent la fct et definissent les sub p√©riodes
#de cette maniere, products ne contient que la data jusqu'√† la date t (no forward looking sur nos strats)
sub_end_date = "31/12/2023"

In [8]:
B_udt = BaseUpdate(tickers, sub_start_date, sub_end_date)
B_udt.update_products(db_file)#on met a jour products jusqu'√† la data t

[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['FB']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Successfully inserted 2250 new records into Products table for the period 01/01/2023 to 31/12/2023

In [9]:
from base_update import update_portefeuille1
update_portefeuille1(db_file,['AAPL', 'MSFT'],'HY_EQUITY',50)

Portfolios mis √† jour avecc succ√©s

In [10]:
from strategies import RunAllStrat
start_date2="31/12/2023"
end_date2="15/01/2024"
b=RunAllStrat(db_file,start_date2,end_date2,tickers)
b.run()

[*********************100%***********************]  1 of 1 completed

D√©but de la simulation historique du 31/12/2023 au 15/01/2024

=== Simulation pour le lundi 01/01/2024 ===
Ex√©cution de la strat√©gie pour la date historique : 01/01/2024
Updating products for historical week: 25/12/2023 to 31/12/2023

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['FB']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Successfully inserted 36 new records into Products table for the period 25/12/2023 to 31/12/2023
Running strategies...
Running HY_EQUITY strategy...
‚úì Ticker trouv√© : AAPL avec Le risque HY_EQUITY, Manager ID 1
Erreur lors du traitement de AAPL: table Deals has no column named RISK_TYPE
‚úì Ticker trouv√© : MSFT avec Le risque HY_EQUITY, Manager ID 1
Erreur lors du traitement de MSFT: table Deals has no column named RISK_TYPE
Risk types disponibles dans la base : [('HY_EQUITY',)]

=== Simulation pour le lundi 08/01/2024 ===
Ex√©cution de la strat√©gie pour la date historique : 08/01/2024
Updating products for historical week: 01/01/2024 to 07/01/2024

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['FB']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Successfully inserted 36 new records into Products table for the period 01/01/2024 to 07/01/2024
Running strategies...
Running HY_EQUITY strategy...
‚úì Ticker trouv√© : AAPL avec Le risque HY_EQUITY, Manager ID 1
Erreur lors du traitement de AAPL: table Deals has no column named RISK_TYPE
‚úì Ticker trouv√© : MSFT avec Le risque HY_EQUITY, Manager ID 1
Erreur lors du traitement de MSFT: table Deals has no column named RISK_TYPE
Risk types disponibles dans la base : [('HY_EQUITY',)]

=== Simulation pour le lundi 15/01/2024 ===
Ex√©cution de la strat√©gie pour la date historique : 15/01/2024
Updating products for historical week: 08/01/2024 to 14/01/2024

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['FB']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Successfully inserted 45 new records into Products table for the period 08/01/2024 to 14/01/2024
Running strategies...
Running HY_EQUITY strategy...
‚úì Ticker trouv√© : AAPL avec Le risque HY_EQUITY, Manager ID 1
Erreur lors du traitement de AAPL: table Deals has no column named RISK_TYPE
‚úì Ticker trouv√© : MSFT avec Le risque HY_EQUITY, Manager ID 1
Erreur lors du traitement de MSFT: table Deals has no column named RISK_TYPE
Risk types disponibles dans la base : [('HY_EQUITY',)]

Simulation termin√©e !
Nombre de lundis simul√©s : 3
P√©riode couverte : 31/12/2023 au 15/01/2024

In [ ]:
import sqlite3

db_path = "Fund.db"  # adapte si ton fichier a un chemin diff√©rent

create_history_table_query = """
CREATE TABLE IF NOT EXISTS Portfolio_History (
    HISTORY_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    MANAGER_ID INTEGER NOT NULL,
    TICKER TEXT NOT NULL,
    QUANTITY INTEGER NOT NULL,
    DATE_SNAPSHOT DATE NOT NULL,
    FOREIGN KEY(MANAGER_ID) REFERENCES Managers(MANAGER_ID) ON DELETE CASCADE
);
"""

conn = sqlite3.connect(db_path)
cursor = conn.cursor()
cursor.execute(create_history_table_query)
conn.commit()
conn.close()

print("‚úÖ Table Portfolio_History cr√©√©e avec succ√®s.")

In [ ]:
def rebuild_portfolio_history_by_manager(self, manager_id):
    try:
        conn = sqlite3.connect(self.db_file)
        cursor = conn.cursor()

        # 1. Composition initiale : actifs dans Portfolios pour ce manager
        cursor.execute("""
            SELECT TICKER, QUANTITY
            FROM Portfolios
            WHERE MANAGER_ID = ?
        """, (manager_id,))
        initial_assets = cursor.fetchall()
        portfolio = {ticker: qty for ticker, qty in initial_assets}

        # 2. R√©cup√©rer tous les deals du manager, tri√©s par date
        cursor.execute("""
            SELECT EXECUTION_DATE, TICKER, TRADE_TYPE, QUANTITY
            FROM Deals
            WHERE MANAGER_ID = ?
            ORDER BY EXECUTION_DATE ASC
        """, (manager_id,))
        deals = cursor.fetchall()

        # 3. Appliquer chaque deal et sauvegarder un snapshot
        for deal in deals:
            date, ticker, trade_type, quantity = deal

            if trade_type == 'Buy':
                portfolio[ticker] = portfolio.get(ticker, 0) + quantity
            elif trade_type == 'Sell':
                portfolio[ticker] = max(portfolio.get(ticker, 0) - quantity, 0)

            # Retirer les actifs avec 0
            portfolio = {k: v for k, v in portfolio.items() if v > 0}

            # 4. Ins√©rer un snapshot complet pour cette date
            for tick, qty in portfolio.items():
                cursor.execute("""
                    INSERT INTO Portfolio_History (MANAGER_ID, TICKER, QUANTITY, DATE_SNAPSHOT)
                    VALUES (?, ?, ?, ?)
                """, (manager_id, tick, qty, date))

        conn.commit()
        print(f"üìà Historique reconstruit pour le manager {manager_id}")
    except sqlite3.Error as e:
        print(f"‚ùå Erreur SQLite : {e}")
    finally:
        if conn:
            conn.close()

In [13]:
db_manager.rebuild_portfolio_history_by_manager(manager_id=1)

üìà Historique reconstruit pour le manager 1