In [1]:
import sqlite3
import pandas as pd
db_file = "Fund.db"
tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'FB', 'TSLA', 'NVDA', 'PYPL', 'ADBE', 'INTC']#tickers contenus dans MAIN_DATA_FRAME

start_date = "02/01/2023"#toute la periode start date (pour tout telecharger dun coup)
end_date = "31/12/2023"#pareil

## 1. Creation et peuplement de la base

In [2]:
from base_builder import DatabaseBuilder

In [3]:
db_manager = DatabaseBuilder(db_file)
db_manager.create_tables()
db_manager.insert_clients_data(3)
db_manager.insert_managers_data(3)

Tables created successfully.
3 clients insérés avec succès dans la table 'Clients'.
3 managers insérés avec succès dans la table 'Managers'.

## 2. Collecte et traitement des datas

In [4]:
from data_collector import GetData

In [5]:
gdata = GetData(tickers, start_date, end_date)
gdata.main_data_frame()#on cree le dataframe avec TOUS les actifs TOUTE la periode
#il manquerait le traitement des datas

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['FB']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

     IMPORT_DATE       PRICE TICKER      SECTOR
0     2023-01-03  123.632530   AAPL  Technology
1     2023-01-04  124.907707   AAPL  Technology
2     2023-01-05  123.583099   AAPL  Technology
3     2023-01-06  128.130219   AAPL  Technology
4     2023-01-09  128.654114   AAPL  Technology
...          ...         ...    ...         ...
2245  2023-12-22   47.365639   INTC  Technology
2246  2023-12-26   49.832600   INTC  Technology
2247  2023-12-27   50.089161   INTC  Technology
2248  2023-12-28   49.724056   INTC  Technology
2249  2023-12-29   49.585903   INTC  Technology

[2250 rows x 4 columns]

In [9]:
from base_update import BaseUpdate 
sub_start_date = "02/01/2023"#chaque semaine, les strat lancent la fct et definissent les sub périodes
#de cette maniere, products ne contient que la data jusqu'à la date t (no forward looking sur nos strats)
sub_end_date = "31/01/2023"

In [10]:
B_udt = BaseUpdate(tickers, sub_start_date, sub_end_date)
B_udt.update_products(db_file)#on met a jour products jusqu'à la data t

Failed to fetch data for AAPL: Invalid date format. Please use DD/MM/YYYY format. Error: time data '2023-01-02' does not match format '%d/%m/%Y'
Failed to fetch data for MSFT: Invalid date format. Please use DD/MM/YYYY format. Error: time data '2023-01-02' does not match format '%d/%m/%Y'
Failed to fetch data for GOOGL: Invalid date format. Please use DD/MM/YYYY format. Error: time data '2023-01-02' does not match format '%d/%m/%Y'
Failed to fetch data for AMZN: Invalid date format. Please use DD/MM/YYYY format. Error: time data '2023-01-02' does not match format '%d/%m/%Y'
Failed to fetch data for FB: Invalid date format. Please use DD/MM/YYYY format. Error: time data '2023-01-02' does not match format '%d/%m/%Y'
Failed to fetch data for TSLA: Invalid date format. Please use DD/MM/YYYY format. Error: time data '2023-01-02' does not match format '%d/%m/%Y'
Failed to fetch data for NVDA: Invalid date format. Please use DD/MM/YYYY format. Error: time data '2023-01-02' does not match format '%d/%m/%Y'
Failed to fetch data for PYPL: Invalid date format. Please use DD/MM/YYYY format. Error: time data '2023-01-02' does not match format '%d/%m/%Y'
Failed to fetch data for ADBE: Invalid date format. Please use DD/MM/YYYY format. Error: time data '2023-01-02' does not match format '%d/%m/%Y'
Failed to fetch data for INTC: Invalid date format. Please use DD/MM/YYYY format. Error: time data '2023-01-02' does not match format '%d/%m/%Y'
No data to update.